@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-bg: white;
  --color-text: rgb(43, 43, 43);
  --color-codeblock: rgb(40, 42, 54);
}

@layer base {
  [data-theme="dark"] {
    --color-bg: #17181c;
    --color-text: #efefef;
  }
}

@layer utilities {
  .centered {
    @apply flex items-center justify-center;
  }
  .my-prose {
    @apply prose xl:prose-lg dark:prose-invert prose-figcaption:text-center max-w-none;
  }
}

html {
  scroll-behavior: smooth;
}
