@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #fafafa;
  --color-text: #101010;
}

@layer theme {
  .dark {
    --color-bg: #202020;
    --color-text: #f0f0f0;
  }
}

.prose {
  --tw-prose-body: var(--color-text);
  --tw-prose-headings: var(--color-text);
  --tw-prose-lead: var(--color-text);
  --tw-prose-links: var(--color-text);
  --tw-prose-bold: var(--color-text);
  --tw-prose-counters: var(--color-text);
  --tw-prose-bullets: var(--color-text);
  --tw-prose-hr: var(--color-text);
  --tw-prose-quotes: var(--color-text);
  --tw-prose-quote-borders: var(--color-text);
  --tw-prose-captions: var(--color-text);
  --tw-prose-code: var(--color-text);
  --tw-prose-th-borders: var(--color-text);
  --tw-prose-td-borders: var(--color-text);

  img {
    @apply rounded-lg;
  }
}
