@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-bg: white;
  --color-text: rgb(43, 43, 43);
  --color-codeblock: rgb(40, 42, 54);
}

@layer base {
  [data-theme="dark"] {
    --color-bg: #17181c;
    --color-text: #efefef;
  }
}

@layer utilities {
  .centered {
    @apply flex items-center justify-center;
  }
  .my-prose {
    @apply prose xl:prose-lg dark:prose-invert prose-figcaption:text-center max-w-none;
  }
  .skeleton {
    @apply relative overflow-hidden rounded-md bg-gray-200 dark:bg-gray-700;
  }
  .skeleton::after {
    content: "";
    @apply absolute top-0 left-0 h-full w-full;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

html {
  scroll-behavior: smooth;
}
