---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="Filip's Blog">
  <main class="mx-auto px-4 py-8 pt-4 pb-32 sm:w-[65vw] sm:pt-8 lg:w-[650px]">
    <h2 class="mb-5 text-2xl font-bold sm:mb-8 sm:text-3xl">Articles</h2>
    <ul>
      <!-- Blog post items -->
    </ul>
  </main>
</BaseLayout>
